* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  margin: auto;
}

.pravila {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  padding: 10px;
  transform: translateX(-1300px);
  transition: transform 1s ease-in-out;
  
}

.pravila.pokazi {
  transform: translateX(0);
}

.btn {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  margin: 10px;
  width: 150px;
}

canvas {
  width: 800px;
  height: 600px;
  background:  #0095dd;
  margin: auto;
  border-radius: 5px;
}

